@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    align-items: start;
}

.home{
    width: 300px;
}

.card{
    width: 100%;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
}

.card .porfileImage{
    width: 50px;
    border-radius: 50%;
}

.postImage{
    width: 100%;
    height: 300px;
}

.profileId{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    font-size: 18px;
}

.profileId .profileId{
    justify-content: flex-start;
}